@import '@unocss/reset/tailwind.css';

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.font-primary {
    font-family: 'Sora Variable', sans-serif;
}

.track {
    animation: slide 15s linear infinite;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveSecond {
    0% {
        transform: translateX(0%) translateY(-3%);
    }
    33% {
        transform: translateX(10%) translateY(3%);
    }
    66% {
        transform: translateX(-10%) translateY(3%);
    }
    100% {
        transform: translateX(0%) translateY(-3%);
    }
}

@keyframes moveFirst {
    0% {
        transform: translateY(-10%) translateX(-10%);
    }
    50% {
        transform: translateY(12%) translateX(0%);
    }
    100% {
        transform: translateY(-10%) translateX(-10%);
    }
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323232;
}

::-webkit-scrollbar-track{
    background-color: #202020;
}

/* radix-ui/primitives#1496 */
html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
}