@import '@unocss/reset/tailwind.css';

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

.font-primary {
    font-family: 'Sora Variable', sans-serif;
}

.track {
    animation: slide 15s linear infinite;
}

.track:hover {
    animation-play-state: paused;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveSecond {
    0% {
        transform: translateX(0%) translateY(-3%);
    }
    33% {
        transform: translateX(10%) translateY(3%);
    }
    66% {
        transform: translateX(-10%) translateY(3%);
    }
    100% {
        transform: translateX(0%) translateY(-3%);
    }
}

@keyframes moveFirst {
    0% {
        transform: translateY(-10%) translateX(-10%);
    }
    50% {
        transform: translateY(12%) translateX(0%);
    }
    100% {
        transform: translateY(-10%) translateX(-10%);
    }
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #323232;
}

::-webkit-scrollbar-track{
    background-color: #202020;
}

/* radix-ui/primitives#1496 */
html body[data-scroll-locked] {
    --removed-body-scroll-bar-size: 0 !important;
    margin-right: 0 !important;
}

/* inspired by shuding */
@supports (view-transition-name: none) {
    @media not (prefers-reduced-motion: reduce) {
        ::view-transition-old(experience),
        ::view-transition-old(about),
        ::view-transition-old(contact),
        ::view-transition-old(projects),
        ::view-transition-old(info) {
            animation: hide 0.4s cubic-bezier(0.6, 0, 0.8, 1) forwards;
        }

        ::view-transition-new(experience),
        ::view-transition-new(about),
        ::view-transition-new(contact),
        ::view-transition-new(projects) ,
        ::view-transition-new(info) {
            opacity: 0;
            animation: appear 0.4s ease 0.2s forwards;
        }
    }
}

@keyframes hide {
    0% {
        opacity: 1;
        filter: blur(0);
    }
    100% {
        opacity: 0;
        filter: blur(4px);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        filter: blur(0);
    }
}